extends layout

block content
  div.container
    div.content
      div.row      
        div.col-md-9.page-header    
          h1 SDN Event
            small &nbsp; December 2016      
        div.col-md-3
          img(src='images/SDN_Logo.png' width=230 height=74 style='margin-top:50px')

      for session in sessions           
        if session.special
          div.panel.panel-success
            div.panel-heading
              div.row
                div.col-md-8= session.title
                div.col-md-4
                  span= session.starttime
                  | &nbsp;&#8209;&nbsp;
                  span= session.endtime
        else
          div.panel.panel-primary
            div.panel-heading
              div.row
                div.col-md-5= session.title
                div.col-md-3= session.speaker
                div.col-md-1
                  span= session.starttime                    
                  | &nbsp;&#8209;&nbsp;
                  span= session.endtime
                div.col-md-2
                  span= session.room                                      
            div.panel-body
              div.row
                div.col-md-12= session.description       
  //- footer.container-fluid
  //-   div.row
  //-     div.col-md-4 #{env}
  //-     div.col-md-8 #{insights}