extends layout

block content
  div.container-fluid
    div.content
      div.page-header
        h1 SDN Event
          small December 2016
      div.row
        p.col-md-12 Schedule
      div.clearfix
        for session in sessions           
          if session.special
            div.row.bg-info
              div.col-md-7.col-md-offset-1= session.title
              div.col-md-4= session.starttime
            div.clearfix
          else
            div.row.bg-primary
              div.col-md-1
                span.glyphicon.glyphicon-plus
              div.col-md-7= session.title
              div.col-md-4= session.starttime
            div.row
              div.col-md-11.col-md-offset-1= session.speaker       
            div.clearfix

  footer.container-fluid
    div.row
      div.col-md-4 #{env}
      div.col-md-8 #{insights}